div.board{
    width:400px;
    text-align: center;
    margin: 00px auto;
    height: 500px;
    padding: 1px;
    display: block;
    box-shadow: 3px 3px 20px #117FEE;
    
}

/* span.box{
    
  
} */
div.box{
    box-shadow: 2px 2px 2px grey;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    width: 13.75%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    background-color: blue;

}
div.row{
    width: 100%;
}
button.In_the_box{
    padding-bottom: 10px;
    border-radius: 3px;
    width:14.2%;
    color: black;
    font-size: 30px;
    background-color: white;
    border:1px solid black;
    padding-top: 2px;
    text-decoration: none;
   
}
@media (min-width:700px){
button.In_the_box:hover{
    box-shadow: 3px 3px 2px gray;
    font-size:35px ;
}}